<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.simple-profiler.gpu-helper</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/libexec/simple-profiler-gpu-helper</string>
    <string>--output</string>
    <string>/var/run/simple-profiler/process-gpu.json</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>15</integer>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
